@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.conteiner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .conteiner {
    padding: 0 20px;
  }
}

.first-screen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/first-screen-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 20%;
  margin-bottom: 77px;
}

@media screen and (max-width: 1200px) {
  .first-screen {
    margin-bottom: 0;
  }
}

.first-screen__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1530px;
}

.first-screen__left {
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .first-screen__left {
    width: 0;
  }
}

.first-screen__left-img {
  width: 100%;
  height: 111vh;
}

@media screen and (max-width: 2000px) {
  .first-screen__left-img {
    height: 107vh;
  }
}

@media screen and (max-width: 1700px) {
  .first-screen__left-img {
    height: 111vh;
  }
}

@media screen and (max-width: 1300px) {
  .first-screen__left-img {
    height: 107vh;
  }
}

@media screen and (max-width: 1200px) {
  .first-screen__left-img {
    display: none;
  }
}

.first-screen__right {
  margin-top: 120px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .first-screen__right {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .first-screen__right {
    width: 100%;
  }
}

.first-screen__tittle-wrapp {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-screen__tittle {
  width: 64%;
  font-size: 44px;
  line-height: 44px;
  font-weight: 900;
  color: #383334;
  margin-bottom: 44px;
}

@media screen and (max-width: 1369px) {
  .first-screen__tittle {
    width: 73%;
  }
}

@media screen and (max-width: 1266px) {
  .first-screen__tittle {
    width: 76%;
  }
}

@media screen and (max-width: 1200px) {
  .first-screen__tittle {
    width: 95%;
  }
}

.first-screen__text-line {
  font-size: 34px;
  font-weight: 700;
}

.first-screen__inside {
  border-bottom: 3px solid #ff6b00;
}

.first-screen__outside {
  border-bottom: 3px solid #a7c93d;
}

.first-screen__form-wrapp {
  width: 40%;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(29, 90, 152, 0.1);
          box-shadow: 0px 0px 40px 0px rgba(29, 90, 152, 0.1);
  height: 607px;
  border: 7px solid #a8ca3f;
  border-radius: 15.0px;
}

.header {
  position: absolute;
  top: 14px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 950px;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 95%;
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  margin-right: 17px;
}

.header__logo-text {
  font-size: 22px;
  font-weight: 900;
  color: #383334;
}

.header__list {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .header__list {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-img {
  margin-right: 12px;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-list__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.main-list__circle {
  width: 60px;
  height: 60px;
  background-color: #a7c93d;
  border-radius: 50%;
  border: 7px solid rgba(232, 237, 201, 0.891);
  padding: 9px 0;
  text-align: center;
  position: relative;
}

.main-list__number {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.main-list__text {
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  margin-right: 30px;
  margin-left: 15px;
}

.main-list__bold {
  font-weight: 500;
  color: #000000;
}

.main-list__arrows {
  position: absolute;
}

.main-list__item-arrow {
  padding-left: 25px;
  padding: 5px 0 5px 25px;
}

.main-list__item-arrow-top {
  position: absolute;
  top: -68px;
  left: -6px;
}

.main-list__item-arrow-bottom {
  position: absolute;
  top: 57px;
  left: -6px;
}

.form {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  border-radius: 15.0px;
}

.form__main-content {
  padding: 18px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 64px;
}

.form__offer {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 18px;
}

.form__date {
  font-weight: 500;
  color: #ff6b00;
}

.form__price-wrapp {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__old-price-text {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 14px;
}

.form__old-price-number {
  font-size: 34px;
  font-weight: 300;
  color: #000000;
  position: relative;
  padding: 7px;
}

.form__old-price-number::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fd7532;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.form__old-price-number::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fd7532;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.form__new-price-text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 14px;
}

.form__new-price-number {
  font-size: 34px;
  font-weight: 900;
  color: #000000;
  background-color: #ff6b00;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffbc02), to(#ffce02));
  background-image: linear-gradient(90deg, #ffbc02 0%, #ffce02 100%);
  border-radius: 5.0px;
  padding: 7px;
}

.form__input-wrapp {
  width: 100%;
  border-radius: 32.0px;
  position: relative;
}

.form__input {
  width: 100%;
  height: 65px;
  background-color: #eef2f7;
  border-radius: 32.0px;
  border: none;
  padding: 25px 25px 25px 55px;
  margin-bottom: 10px;
}

.form__input-img {
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-68%);
          transform: translateY(-68%);
}

.form__button-wrapp {
  cursor: pointer;
  border-radius: 27.0px;
  background-color: #faca09;
  padding: 3px;
  margin-bottom: 20px;
}

.form__button {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 2px solid #ead685;
  border-radius: 27.0px;
  background-color: #faca09;
  font-size: 28px;
  line-height: 16px;
  font-weight: 700;
  padding: 16px 14%;
  color: #000000;
}

.form__text-discount {
  font-size: 16px;
}

.form__content {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 74px;
}

.form__color-number {
  font-weight: 500;
  color: #9dbd39;
}

.form__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eef2f7;
  border-radius: 0 0 10px 10px;
  padding: 11px 24px;
}

.form__safe-img {
  width: 19px;
  height: 20px;
  margin-right: 12px;
}

.form__safe {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #666666;
}

.second-screen {
  padding: 50px 0;
}

.second-screen__content {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-screen-tittle {
  text-align: center;
}

.second-screen-tittle__icon {
  width: 54px;
  height: 53px;
  margin: 0 auto 36px auto;
}

.second-screen-tittle__tittle {
  font-size: 48px;
  font-weight: 900;
  color: #383334;
  margin-bottom: 36px;
}

.second-screen-tittle__subtittle {
  font-size: 24px;
  font-weight: 700;
  color: #2b2828;
}

.second-screen-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 75px;
}

@media screen and (max-width: 1200px) {
  .second-screen-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.second-screen-list__item {
  width: 350px;
  margin: 30px 0;
}

.second-screen-list__item:first-child {
  margin-left: 0;
}

.second-screen-list__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .second-screen-list__item {
    width: 60%;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .second-screen-list__item {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .second-screen-list__item {
    width: 80%;
  }
}

.second-screen-list__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .second-screen-list__item-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.second-screen-list__img {
  margin-bottom: 20px;
}

.second-screen-list__text {
  margin-left: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #000000;
}

@media screen and (max-width: 1200px) {
  .second-screen-list__text {
    margin-left: 0;
  }
}

.second-screen-list__item-middle {
  width: 50px;
  height: 3px;
  background-color: #becbd8;
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .second-screen-list__item-middle {
    margin: 20px auto;
  }
}

.second-screen-list__item-bottom-text {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

.second-screen-statistic {
  max-width: 1200px;
  width: 100%;
  border: 3.0px solid #f4d3bb;
  border-radius: 10.0px;
  text-align: center;
  padding: 50px 90px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .second-screen-statistic {
    padding: 50px 30px;
  }
}

.second-screen-statistic__icon {
  width: 170px;
  height: 55px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: -25px;
  background-color: #fff;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.second-screen-statistic__text {
  font-size: 22px;
  font-weight: 400;
  color: #444444;
}

.second-screen-statistic__text span {
  font-weight: 500;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */